
<p>Hi {{username}}</p>
<p>To verify your account, please use the following OTP:</p>
<p><b>{{code}}</b></p>
<p>Do not share this OTP with anyone. The OTP code only 60s.</p>
<p>Best regards,</br>
Timesheet system</p>